@import url('variables.css');
/*----------------
RESET
----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
COMMON
----------------*/
body{
    font-family: 'Lato', sans-serif;
}

/*----------------
HEADER
----------------*/

/*----------------
MAIN
----------------*/

/*----------------
FOOTER
----------------*/