@import url('variables.css');
/*----------------
RESET
----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
COMMON
----------------*/
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(var(--firstbackground-color) 20%, var(--secondbackground-color) 20% 100%); 
}

/*----------------
HEADER
----------------*/

/*----------------
MAIN
----------------*/

/*----------------
FOOTER
----------------*/