@import url('variables.css');
/*----------------
RESET
----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
COMMON
----------------*/
body{
    /* width: 100vw; */
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(var(--firstbackground-color) 20%, var(--secondbackground-color) 20% 100%); 
    padding: 30px;
}

i{
    color: #b1b1b1;
}

/*----------------
CONTAINER
----------------*/
.container{
    width: 1280px;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    border: 1px solid black;
}

.col-left, .col-right{
    display: flex;
    flex-direction: column;
}

.col-left{
    width: 30%;
}

.col-right{
    width: 70%;
}

/*----------------
HEADER
----------------*/
.app-header{
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-utent{
    display: flex;
    align-items: center;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.icons{
    display: flex;
}

.icons > i{
    margin: 0 10px;
}


.notification-bar{
    display: flex;
    align-items: center;
    background-color: var(--notification-color);
    padding: 10px;
}

.bell{
    padding: 20px;
    border-radius: 100%;
    background-color: var(--notificationbell-color);
}

.notification-text{
    margin: 0 10px;
}

.search > i{
    width: 5%;
    background-color: #fff;
}

.search > input{
    width: 95%;
    padding: 10px;
}

.contacts{
    flex-grow: 1;
    overflow-y: auto;
}

.contact{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.contact:not(:last-child){
    border-bottom: 1px solid;
}

.contact.active{
    background-color: var(--selectedchat-color);
}

.avatar{
    display: flex;
    align-items: center;
}

.avatar > img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    object-fit: cover;
}








.chat{
    background-image: url('/img/mine.jpg');
    flex-grow: 1;
    overflow-y: auto;
    padding: 50px 80px;
}

.message-container{
    display: flex;
}

.chat > .message-container:not(:last-child){
    margin-bottom: 10px;
}

.message-container.sent{
    justify-content: flex-end;
}

.message-container.sent > .message{
    background-color: var(--minemessage-color);
}

.message{
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    background-color: #fff; 
}

.keyboard-message{
    /* padding: 20px; */
    flex-shrink: 0;
    background-color: var(--keyboard-color);
}