/*-----------------
COLOR
-----------------*/
:root{
    --firstbackground-color: #009688;
    --secondbackground-color: #dcdbd3;
    --header-color: #eaeaea;
    --notification-color: #8edafc;
    --notificationbell-color: #f2fbff;
    --bell-color: #8edafc;
    --selectedchat-color: #e9ebeb;
    --sent-color: #d8fdd2;
    --received-color: #fff;
    --keyboard-color: #f3eeea;
}